@model IEnumerable<DapperaSample.Models.TBMobileDetails>

@{
    ViewBag.Title = "AllMobileList";
}

<h2>AllMobileList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MobileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileIMEno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileMannfactured)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobileprice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MobileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileIMEno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileMannfactured)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobileprice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
